/*colors-------------------------------------------------------------------*/
:root{
    --brand-color:       #2196f3;
    --main-color:        #2f303a;
    --logo-color:        #000000;
    --title-color:       #212121;
    --text-color:        #757575;
    --background-color:  #f5f4fA;
    --text-color-inv:    #ffffff;
}
/*Header*/
/*Logo Style---------------------------------------------------------------*/
.logo{
    font-family: 'Releway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--logo-color);
}
.logo-web{
    color: var(--brand-color);
}

/*Main Navigation----------------------------------------------------------*/
.nav{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--title-color);
}
.nav:hover{
    color: var(--brand-color);
}
/*Email and Phonenumber----------------------------------------------------*/
.link{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--text-color);
}
.link:hover{
    color: var(--brand-color);
}
.link:focus{
    color: var(--brand-color);
}
/*Body---------------------------------------------------------------------*/
body {
    font-family: 'Roboto', sans-serif;
    color: var(--title-color);
}
p {
    color: var(--text-color); 
}
.hero{
    background-color: var(--main-color);
}
.team{
    background-color: var(--background-color);
}
.hero-title{
    color: var(--text-color-inv);
}
.hero-button{
    color: var(--text-color-inv);
    background-color: var(--brand-color);
    border: none;
}
.hero-button:hover{
    color: var(--brand-color);
    background-color: var(--text-color-inv);
}
.hero-button:focus{
    color: var(--brand-color);
    background-color: var(--text-color-inv);
}
.filter button {
    color: var(--title-color);
    background-color: var(--background-color);
    border: none;
    cursor: pointer;
}
.filter button:hover {
    color: var(--text-color-inv);
    background-color: var(--brand-color);
    border: none;
}
.filter button:focus {
    color: var(--text-color-inv);
    background-color: var(--brand-color);
    border: none;
}
/*Footer------------------------------------------------------------------*/
.footer{
    background-color: var(--main-color);
}
.adress{
    color: var(--text-color-inv);
}
.adress:hover{
    color: var(--brand-color);
}
.adress:focus{
    color: var(--brand-color);
}
.footer-link{
    color: rgba(255, 255, 255, 0.6);
}
.footer-link:hover{
    color: var(--brand-color);
}
.footer-link:focus{
    color: var(--brand-color);
}